@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kingdom</h1>
    <h2>Your place for all your Kingdom needs.</h2>
    <p>This is just a Store to help you get what is needed for your Kingdom.</p>
</div>
