@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To The Batch RPS Game! Please Log In.</p>

    <a asp-controller="Login" asp-action="Login">Please Click here to Log In</a>
    <a asp-controller="Res" asp-action=""></a>
</div>
